.banner {
    // padding: 0;
    &::before {
        content: "";
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/noise.png");
        background-size: contain;
        width: 100%;
        height: 100%;
        animation: 0.2s infinite noisex;
        opacity: 0.4;
        pointer-events: none;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50vh;
        z-index: 2;
        background: linear-gradient(to top, #2f4046, transparent);
    }

    .image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 768px) {
            height: 45%;
            inset: initial;
            top: 20%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-family: "Sigmar";
        position: absolute;
        z-index: 5;
        background: rgba(2, 12, 17, 0.6);
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 62%;
        // padding: 8px;
        width: 40%;
        border-radius: 0;
        rotate: -5deg;
        .left-one {
            left: 8rem;
            top: 8rem;
        }
        .right-one {
            right: 8rem;
            top: 8rem;
        }
        @media screen and (max-width: 768px) {
            // right: initial;
            width: 90%;
            background: transparent;
            top: 72%;
            // bottom: 15%;
            text-align: center;
        }
        h2 {
            font-size: 4rem;
            color: whitesmoke;
            font-family: "Sigmar";
            font-weight: 400;
            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
        }
    }
}

@keyframes noisex {
    0%,
    100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
}
